{{> navbar}}
<div class="row">
	<!-- This needs to be loaded in dynamically as well -->
    {{> nameWidget data=data.userInfo}}
	<!-- This is the dynamically loaded calendar.  It shows all shifts for all employees -->
	<!-- I may want to add id's somewhere in here -->
    <div class="col s9 col-2 emp-month-card">
        <div class="col s12">
            <div class="card gradient-blue-bg calendar-card">
                <div class="color-bar"></div>
                <div class="sched-header">
                    <p>Scheduler</p>
                    <div class="week-month-wrapper">
                        <div class="week-btn">Week</div>
                        <div class="separator"></div>
                        <div class="month-btn week-month-selected">Month</div>
                    </div>
                </div>
                <div class="row month-row">
                    <div class="col s4 arrows left-arrow">
                    	<i id="backArrow" data-value="{{data.head.back}}" class="sm-md material-icons float-right">chevron_left</i>
                    </div>
                    <div class="col s4 month-display">{{data.head.middle}}</div>
                    <div class="col s4 arrows right-arrow">
                    	<i id="forwardArrow" data-value="{{data.head.forward}}" class="sm-md material-icons float-left">chevron_right</i>
                    </div>
                </div>
                <div id="calendar-container">
                {{#compare data.head.type "===" "week"}}
                    {{> weekCalendar data=data}}
                {{else}}
                	{{#compare data.head.type "===" "day"}}
                		{{> dayCalendar data=data}}
                	{{/compare}}
                {{/compare}}
                </div>
            </div>
        </div>
    </div>
</div>
	

<div id="addShift" class="modal modal-fixed-footer login-modal">
    <div class="modal-content">
		<select id = "shiftName">
			{{#each data.employees}}
  			<option value="{{id}}">{{name}}</option>
  			{{/each}}
		</select>

		<input id="shiftStart" type="time" class="validate">
        <label for="shiftStart">Start Time</label>

        <input id="shiftEnd" type="time" class="validate">
        <label for="shiftEnd">End Time</label>

        <input id="shiftDate" type="date" class="validate">
        <label for="shiftDate">Date</label>

        <input id="shiftPosition" type="text" class="validate">
        <label for="shiftPosition">Position</label>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <p id="shiftSubmit" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</p>
    </div>
</div>

<div id="addEmployee" class="modal modal-fixed-footer login-modal">
    <div class="modal-content">
		<input id="empName" type="text" class="validate">
        <label for="empName">Employee Name</label>

        <input id="empDob" type="date" class="validate">
        <label for="empDob">Date of Birth</label>
		<br>
        <input id="empManager" type="checkbox" class="validate">
        <label for="empManager">Give Manager Permissions</label>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <p id= "empSubmit" class="modal-action modal-close waves-effect waves-green btn-flat"> Submit </p>
    </div>
</div>

<div id="alert" class="modal modal-fixed-footer login-modal">
    <div class="modal-content">
		
    </div>
    <div class="modal-footer">
        <p id= "alertClear" class="modal-action modal-close waves-effect waves-green btn-flat"> OK </p>
    </div>
</div>