<div class="row">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="row">
		<!-- This needs to be loaded in dynamically as well -->
        <div class="col s3 col-1 emp-card">
            <div class="col s12">
                <div class="card off-white-bg">
                    <div class="profile-pic"></div>
                    <div class="card-content">
                        <span class="card-title name">John Smith</span>
                        <div class="manager-badge">Manager</div>
                    </div>
                    <div class="card-action">
						<button class = "btn modal-trigger" data-target = "addShift" id = "btnAddShift">Add Shift</button>
                        <button class = "btn modal-trigger" data-target = "addEmployee" id = "btnAddEmployee">Add Employee</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- This is the dynamically loaded calendar.  It shows all shifts for all employees -->
		<!-- I may want to add id's somewhere in here -->
        <div class="col s9 col-2 emp-month-card">
            <div class="col s12">
                <div class="card gradient-blue-bg calendar-card">
                    <div class="color-bar"></div>
                    <div class="sched-header">
                        <p>Scheduler</p>
                        <div class="week-month-wrapper">
                            <div class="week-btn">Week</div>
                            <div class="separator"></div>
                            <div class="month-btn week-month-selected">Month</div>
                        </div>
                    </div>
                    <div class="row month-row">
                        <div data-value="{{data.button.back}}" class="col s4 arrows left-arrow">
                        	<i class="sm-md material-icons float-right">chevron_left</i>
                        </div>
                        <div class="col s4 month-display">September 23-30</div>
                        <div data-value="{{data.button.forward}}" class="col s4 arrows right-arrow">
                        	<i class="sm-md material-icons float-left">chevron_right</i>
                        </div>
                    </div>
                    <div id="calendar-container">
                        <div id="week-calendar">
                        	<table>
                                <thead>
                                    <tr>
                                        <th class="table-name">Name</th>
                                        {{#each data.formatedDates}}
										<th class = "table-day">
											{{this}}
										</th>
										{{/each}}
                                    </tr>
                                </thead>
								<tbody>
									{{#each data.rows}}
                                    <tr>
                                        <td>{{name}}</td>
                                        {{#days}}
	                                        {{#if this}}
												<td class = "days-with-schedule">
													{{#each this}}
														{{> shifts}}
													{{/each}}
												</td>
											{{else}}
											<td></td>
											{{/if}}
                                        {{/days}}

                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	

<div id="addShift" class="modal modal-fixed-footer login-modal">
    <div class="modal-content">
		<select id = "shiftName">
			{{#each data.employees}}
  			<option value="{{id}}">{{name}}</option>
  			{{/each}}
		</select>

		<input id="shiftStart" type="time" class="validate">
        <label for="shiftStart">Start Time</label>

        <input id="shiftEnd" type="time" class="validate">
        <label for="shiftEnd">End Time</label>

        <input id="shiftDate" type="date" class="validate">
        <label for="shiftDate">Date</label>

        <input id="shiftPosition" type="text" class="validate">
        <label for="shiftPosition">Position</label>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <p id="shiftSubmit" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</p>
    </div>
</div>

<div id="addEmployee" class="modal modal-fixed-footer login-modal">
    <div class="modal-content">
		<input id="empName" type="text" class="validate">
        <label for="empName">Employee Name</label>

        <input id="empDob" type="date" class="validate">
        <label for="empDob">Date of Birth</label>
		<br>
        <input id="empManager" type="checkbox" class="validate">
        <label for="empManager">Give Manager Permissions</label>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <p id= "empSubmit" class="modal-action modal-close waves-effect waves-green btn-flat"> Submit </p>
    </div>
</div>

<div id="alert" class="modal modal-fixed-footer login-modal">
    <div class="modal-content">
		
    </div>
    <div class="modal-footer">
        <p id= "alertClear" class="modal-action modal-close waves-effect waves-green btn-flat"> OK </p>
    </div>
</div>