<div class = "row">
	<div class = "col-xs-3">
		<!-- empty collumn -->
	</div>
	<div class = "col-xs-9">
		<div class = "row">
			<div class = "col-xs-1 day">
				Sunday 01
			</div>
			<div class = "col-xs-1 day">
				Monday 02
			</div>
			<div class = "col-xs-1 day">
				Tuesday 03
			</div>
			<div class = "col-xs-1 day">
				Wednesday 04
			</div>
			<div class = "col-xs-1 day">
				Thursday 05
			</div>
			<div class = "col-xs-1 day">
				Friday 06
			</div>
			<div class = "col-xs-1 day">
				Saturday 07
			</div>
		</div>

		<div class = "row">
			<div class = "col-xs-1 day">
				{{#each shifts}}
					{{#compare day "===" "Sunday" }}
						{{start_time}}
					{{/compare}}
				{{/each}}
			</div>
			<div class = "col-xs-1 day">
				{{#each shifts}}
					{{#compare day "===" "Monday" }}
						{{start_time}}
					{{/compare}}
				{{/each}}
			</div>
			<div class = "col-xs-1 day">
				{{#each shifts}}
					{{#compare day "===" "Tuesday" }}
						{{start_time}}
					{{/compare}}
				{{/each}}
			</div>
			<div class = "col-xs-1 day">
				{{#each shifts}}
					{{#compare day "===" "Wednesday" }}
						{{start_time}}
					{{/compare}}
				{{/each}}
			</div>
			<div class = "col-xs-1 day">
				{{#each shifts}}
					{{#compare day "===" "Thursday" }}
						{{start_time}}
					{{/compare}}
				{{/each}}
			</div>
			<div class = "col-xs-1 day">
				{{#each shifts}}
					{{#compare day "===" "Friday" }}
						{{start_time}}
					{{/compare}}
				{{/each}}
			</div>
			<div class = "col-xs-1 day">
				{{#each shifts}}
					{{#compare day "===" "Saturday" }}
						{{start_time}}
					{{/compare}}
				{{/each}}
			</div>
		</div>

	</div>
</div>